@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Clash-Grotesk';
    src:url('/files/font/ClashGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
